.home {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fad61a;
}
#alinhar-imgs{
  margin-top: 0.5rem;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#logo{
  margin: 1rem;
  width: 65vw;
  height: 8vh;
  padding: 0.8rem;
  background-color: black;
  border-radius: 20px;

}

#bee{
  width: 45vw;
  height: 30vh;
}

.alinhar-texto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alinhar-texto h2{
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  margin:1rem;
}

#arrow{
  width: 1.7rem;
  height: 1.6rem;
}

#sobre{
  padding: 0.5rem 10% 1.5rem;
  background-image: url('./img/back.png');
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.descricao{
  display: flex;
  flex-direction: column;

}

#sobre h3{
  font-size: 2.1rem;
  margin: 1rem;
}

#icon{
  width: 1.5rem;
  height:1.5rem;
}

.descricao p {
  font-size: 1.2rem;
  text-align: center;
}

#hexa{
  height: 30rem;
  width:33rem;
  display: none;
}


@media (min-width: 992px) {
  .home {
    padding: 3rem 10% 0;
    background-color: #fad61a;
    height: 100vh;
  }
  #alinhar-imgs{
    margin-top: 0.5rem;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  #logo{
    margin-top: 1rem;
    width: 30%;
    height: 15%;
    padding: 1.5rem;
    background-color: black;
    border-radius: 30px;

  }

  #bee{
    width: 30vw;
    height: 25vw;
  }

  .alinhar-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .alinhar-texto h2{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    margin:1rem;
  }

  #arrow{
    width: 2.7rem;
    height: 2.6rem;
  }

  #sobre{
    padding: 0 0 0 10%;
    background-image: url('./img/back.png');
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .descricao{
    width:40%;
    display: flex;
    flex-direction: column;
    
  }

  #sobre h3{
    font-size: 2.5rem;
    margin: 0.5rem;
  }

  #icon{
    width: 1.8rem;
    height:1.8rem;
  }

  .descricao p {
    font-size: 1.5rem;
    text-align: left;
  }

  #hexa{
    height: 30rem;
    width:33rem;
    display:block;
    
  }
}